@using ElectronicDeviceShop.ViewModels.Accounts
@model LoginViewModel
@{
    Layout = null;
}

<!Doctype html>
<html lang="en">
<head>
    <title>Login Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="~/Areas/Admin/Assets/css/shards-dashboards.1.1.0.min.css">
    <link href="~/Areas/Admin/Assets/css/extras.1.1.0.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Areas/Admin/Assets/css/style.css">
    <link href="~/Areas/Admin/Assets/css/Login/styleLogin.css" rel="stylesheet" />
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            @using (Html.BeginForm())
            {
                <div class="row justify-content-center">
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="login-wrap p-4 p-md-5">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <span class="far fa-user"></span>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <h3 class="text-center mb-4">Login Admin</h3>
                            <form action="#" class="login-form">
                                <div class="form-group">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "UserName" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group d-flex">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", Type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50">
                                        <label>

                                            <input type="checkbox" id="ShowPass"> Hiển thị mật khẩu
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary rounded submit p-3 px-5" @*onclick="Login();"*@>Đăng nhập</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
    <
    <script src="~/Areas/Admin/Assets/js/jquery-3.6.0.js"></script>
    <script src="~/Areas/Admin/Assets/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js "></script>
    <script src="~/Areas/Admin/Assets/js/mdb.min.js"></script>
    <script src="~/Areas/Admin/Assets/js/Login/main.js"></script>
    <script>
        $('#ShowPass').change(function () {
            $('#ShowPass').is(":checked") == true ? $('#Password').attr('type', 'text') : $('#Password').attr('type', 'password');
        });
        //function Login() {
        //    let account = {};
        //    account["UserName"] = $('#UserName').val();
        //    account["Password"] = $('#Password').val();
        //    $.ajax({
        //        url: "/Account/Login",
        //        data: JSON.stringify(account),
        //        type: "POST",
        //        contentType: "application/json;charset=utf-8",
        //        dataType: "json",
        //        success: function (result) {
        //            if (!result)
        //                toastr.error('Tài khoản hoặc mật khẩu không đúng!');
        //        },
        //        error: function (errormessage) {
        //            toastr.error('Tài khoản hoặc mật khẩu không đúng!');
        //        }
        //    });
        //}
                                    //Validation
                                    //const errorPassword = () => {
                                    //    if ($('#Password').val() == '') {
                                    //        $('#error_password').show();
                                    //        $('#error_password').addClass('invalid-feedback');
                                    //        $('#error_password').removeClass('valid-feedback');
                                    //        $('#Password').addClass('is-invalid');
                                    //        $('#error_password').text("Mật khẩu không được để trống!");
                                    //        checkError = true;
                                    //    }
                                    //    else {
                                    //        $('#error_password').hide();
                                    //        $('#Password').addClass('is-valid');
                                    //        $('#Password').removeClass('is-invalid');
                                    //        checkError = false;
                                    //    }
                                    //}
                                    //$('#Password').keyup(() => {
                                    //    errorPassword();
                                    //});
                                    //$('#Password').keydown(() => {
                                    //    errorPassword();
                                    //});
                                    //const errorUserName = () => {
                                    //    if ($('#UserName').val() == '') {
                                    //        $('#error_userName').show();
                                    //        $('#error_userName').addClass('invalid-feedback');
                                    //        $('#error_userName').removeClass('valid-feedback');
                                    //        $('#UserName').addClass('is-invalid');
                                    //        $('#error_userName').text("Mật khẩu không được để trống!");
                                    //        checkError = true;
                                    //    }
                                    //    else {
                                    //        $('#error_userName').hide();
                                    //        $('#UserName').addClass('is-valid');
                                    //        $('#UserName').removeClass('is-invalid');
                                    //        checkError = false;
                                    //    }
                                    //}
                                    //$('#UserName').keyup(() => {
                                    //    errorUserName();
                                    //});
                                    //$('#UserName').keydown(() => {
                                    //    errorUserName();
                                    //});
    </script>
</body>
</html>

