@using ElectronicDeviceShop.ViewModels.Products
@model ProductDetailViewModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Product Details</h2>
                    <p>Very us move be blessed multiply night</p>
                </div>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="single-product.html">Product Details</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6 py-2 d-flex flex-column justify-content-between">
                <div class="s_product_img">
                    <div id="carouselExampleIndicators"
                         class="carousel slide"
                         data-ride="carousel">
                        <ol class="carousel-indicators">
                            @*@{
                        <li data-target="#carouselExampleIndicators"
                            data-slide-to="0"
                            class="active">
                            <img src="#"
                                 alt="" />
                        </li>
                    }*@

                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100"
                                     src="/wwwroot/ImageProducts/@Model.Image"
                                     alt="First slide" />
                            </div>

                        </div>
                    </div>
                </div> 
                <p class="border-0 text-left m-3" style="word-break:break-word">
                    @Model.ShortDescription
                </p>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>@Model.Name</h3>
                    <h1 id="Money" style="color:red"></h1>
                    <ul class="list">
                        <li>
                            <span>Model:</span><b> @Model.Model</b>
                        </li>
                        <li>
                            <span>Bảo hành:</span><b> @Model.Guarantee tháng </b> - <span> Xuất xứ:</span><b> @Model.Origin</b>
                        </li>
                        <div class="card" style="width: 100%;">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item bg-warning"><i class="fas fa-gift"></i><span style="font-weight:bold; font-size:larger;font-style:normal">Khuyến mãi</span></li>
                                <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                                <li class="list-group-item border-0">Vestibulum at eros</li>
                            </ul>
                        </div>
                        <br />
                        <li>
                            @{
                                if (Model.Amount > 0)
                                {
                                    <h3 style="color:green">Còn Hàng</h3>
                                }
                                else
                                {
                                    <h3 style="color:darkred">Hết Hàng</h3>
                                }
                            }
                        </li>
                    </ul>
                    
                    <div class="card_area">
                        <a class="main_btn" href="#">Thêm vào rỏ</a>
                        <a class="main_btn" href="/Cart/Index">Mua Ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <h1 style="border-bottom: 3px green solid; color:red; font-size:25px">Giới thiệu : <span style="color:dodgerblue"> @Model.Name</span></h1>
        <div class="tab-content p-2 border-0" id="myTabContent">
            <div class=""
                 id="home"
                 role="tabpanel"
                 aria-labelledby="home-tab">
                @Model.Detail
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
@section Script{
    <script>
        let formatter = new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'VND' });
        function ToMoney(number) {
            return formatter.format(number);
        }
        $(document).ready(function () {
            $('#Money').text(ToMoney(@Model.Price));
        });
    </script>
}